$c-customlink: white;
$c-disabledlink: #999999;
$c-link: #0000dd;

html {
  box-sizing: border-box;
}

body {
  background: #888888;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.link-Group {
  clear: both;
  margin-bottom: 20px;
}

.sui-Link {
  color: $c-link;

  &-customclass {
    color: $c-customlink;
  }

  &-disabled {
    color: $c-disabledlink;
  }
}

.MySVGicon {
  margin: 5px 5px -3px;
}
